<div class="composer-container">
  <div class="row">
    <div class="com-sm-12">
      <h3 class="text-light ml-5">Randy Newman</h3>
    </div>
  </div>
</div>

<div class="row about-composer">
  <div class="col-sm-4">
    <img class="ml-5" src="../../assets/randy-newman.jfif">
  </div>
  <div class="col-sm-8">
    <p class="text-light">Randy Newman is an American composer and recording artist. He's been a professional musician since age 17.He has composed scores for many different Pixar movies, including "Toy Story",
       "A Bug's Life", "Monsters, Inc.", "Cars", "Toy Story 3", "Monsters University", and "Toy Story 4". He held a record for most Academy Award nominations without winning, spanning from 1981
        to 2001. He finally broke the streak with the score from "Monsters, Inc." In 2007, he was inducted as a Disney Legend.
    </p>
    <p class=" text-light">
      In addition to his work with Disney, Randy has been a successful recording artist. He performed "Short People", "I Love L.A.", and "You've Got a Friend in Me". Many of his compositions
      have been covered by other artists, including "Mama Told Me Not to Come", "I Think It's Going to Rain Today", and "You Can Leave Your Hat On".
    </p>
    <p class="text-light">
      Newman is part of a family of composers. Three of his uncles, Alfred, Lionel, and Emil were also composers in Hollywood. Four cousins are also composers: Thomas, Maria, David, and Joey.
    </p>
    <!--<em class="apa-reference"><a class="text-light" href="https://www.imdb.com/name/nm0005271/?ref_=nmls_hd">Source</a></em>-->
  </div>
</div>

<div class="row composer-sources">
  <div class="col-sm-12">
    <h2 class="text-light text-center m-3">Sources</h2>
  </div>
  <div class="col-sm-6">
    <h3 class="text-light ml-3">Image</h3>
    <a class="text-light ml-3" href="https://depositphotos.com/stock-photos/randy-newman.html?qview=16200161">Image Source (depositphotos.com)</a>
  </div>
  <div class="col-sm-6">
    <h3 class="text-light ml-3">Biography</h3>
    <a class="text-light ml-3" href="https://www.imdb.com/name/nm0005271/?ref_=nmls_hd">IMDB</a>
  </div>
</div>
