.service-card {
  height: 33vh;

}

.services, .more-content-card {
  background-color: #00B7FF;
}

.standard-fees {
  background-color: #6AE9FF;
}
.more-content-card {
  height: 33vh;
}

.invoice-button {
  height: 15vh;
  width: 99vw;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}
